
<launch>

  <!-- <rosparam command="load" file="$(find Brake_by_wire_system)/params/testing.yaml"/> -->

  <node pkg="pitch_the_future" type="averera_ptf.py" name="averera_ptf" output="screen" launch-prefix="gnome-terminal --command">
  </node>

  <node pkg="pitch_the_future" type="data_extract.py" name="data_extract" output="screen" launch-prefix="gnome-terminal --command">
  </node>

  <node pkg="pitch_the_future" type="generate_qr.py" name="generate_qr" output="screen" launch-prefix="gnome-terminal --command">
  </node>

  <node pkg="pitch_the_future" type="state_check.py" name="state_check" output="screen" launch-prefix="gnome-terminal --command">
  </node>

  <node pkg="pitch_the_future" type="nearest_hospita1.py" name="nearest_hospital1" output="screen" launch-prefix="gnome-terminal --command">
  </node>

  <node pkg="pitch_the_future" type="email_notification.py" name="email_notification" output="screen" launch-prefix="gnome-terminal --command">
  </node>

</launch>







